/*#d4f5ff
font-family: 'Josefin Sans', sans-serif;
font-family: 'Vidaloka', serif;8*/


div#image_one img{
	
	width: 100%;
	}

header{
	background-color:#507296;
	margin:0 1rem;

}


div#ingredients{
	font-size:25px;}

div#image_two img{
	width: 100%;
	
}
div#image_three img{

	width: 100%;
	
}


body{
	background-color:#507296;
	font-family: 'Josefin Sans', sans-serif;
	margin:0;
	font-size:20px;
	color:#e8dfa9;
}

h1{
	font-family: 'Vidaloka', serif;
	font-size: 45px;
	color:#c0e7fc;
	text-decoration:underline;
	border:4px solid #e8dfa9;

	


}

h2{font-family: 'Josefin Sans', sans-serif;
	font-size:18px;


}

h3{
	font-family: 'Vidaloka', serif;
	font-size: 35px;
	color:#c0e7fc;
	text-decoration:underline;
	border:2px solid #e8dfa9;



}
h4{
	font-family: 'Vidaloka', serif;
	font-size: 20px;
}

h5{
	font-family: 'Vidaloka', serif;
	font-size: 55px;
}

section{
	margin:0 1rem;
	font-size:19px;
}
